@font-face {
    font-family:LangQian; /*这里是说明调用来的字体名字*/
    src: url('../fonts/MFLangQian_Noncommercial-Regular.otf'); /*这里是字体文件路径*/
}
*{
    margin:0;
    padding:0;
}
html,body{
    height:100%;
}
body{
    font-family:"microsoft yahei",serif;
}
.swiper-container {
    /*  width: 320px;
      height: 480px;*/
    width: 100%;
    height: 100%;


}

.swiper-slide{
    width:100%;
    height:100%;



}
img{
    display:block;
}
.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: #fff;
    opacity: .4;
}
.swiper-pagination-bullet-active {
    opacity: 1;
}
@-webkit-keyframes start {
    0%,30% {opacity: 0;-webkit-transform: translate(0,10px);}
    60% {opacity: 1;-webkit-transform: translate(0,0);}
    100% {opacity: 0;-webkit-transform: translate(0,-8px);}
}
@-moz-keyframes start {
    0%,30% {opacity: 0;-moz-transform: translate(0,10px);}
    60% {opacity: 1;-moz-transform: translate(0,0);}
    100% {opacity: 0;-moz-transform: translate(0,-8px);}
}
@keyframes start {
    0%,30% {opacity: 0;transform: translate(0,10px);}
    60% {opacity: 1;transform: translate(0,0);}
    100% {opacity: 0;transform: translate(0,-8px);}
}
.ani{
    position:absolute;
}
.txt{
    position:absolute;
}
#array{
    position:absolute;z-index:999;-webkit-animation: start 1.5s infinite ease-in-out;
}

.s2-h1{
    font-family:LangQian,serif;
    font-size:22px;
    text-align:center;
    margin-left:50px;
    margin-right:50px;
}
.s2-h2{
    font-family:"microsoft yahei",serif;
    font-size:17px;
    text-align:left;
    margin-left:50px;
    margin-right:50px;
}
.s3-h1{
    font-family:LangQian,serif;
    font-size:32px;
    text-align:center;
}
.s4-h1{
    font-family:"microsoft yahei",serif;
    font-size:20px;
    margin:25px;
}
.s5-h1{
    font-family:LangQian,serif;
    font-size:32px;
    text-align:center;
}
.s5-h2{
    font-family:"microsoft yahei",serif;
    font-size:20px;
    margin:25px;
}


.wave-box{
    position:fixed;
}

.wave-box-upon{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    background-color:rgba(0,0,0,0);
    z-index:111;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    pointer-events: none;
}
.wave-box *{border:0;padding:0;margin:0;}
.marquee-box{overflow:hidden;width:100%;position:absolute;left:0;bottom:0}
.marquee-box-d{overflow:hidden;width:100%;position:absolute;left:0;bottom:30px}
.marquee{width:8000%;height:60px}
.wave-list-box{float:left}
.wave-list-box ul{float:left;height:60px;overflow:hidden;zoom:1}
.wave-list-box ul li{height:60px;width:100%;float:left;line-height:30px;list-style:none}
.wave-box{position:relative;height:60px;}


